{% block menu %}
<!-- followin menu -->
  <div class="ui attached stackable menu">
    <div class="ui container">
      <div class="header item">
        <i class="desktop icon"></i>
      </div>
      <a class="item" href="{{path("_inicio")}}">
        <i class="browser icon"></i>
        Inicio
      </a>
      <a class="item" href="{{path("_reportes")}}">
        <i class="search icon"></i>
        Reporte
      </a>
      <a class="item" href="{{path("_reporteFecha")}}">
        <i class="search icon"></i>
        Reporte rango de fechas
      </a>
      <a class="item" href="{{path("_reporteCamaras")}}">
        <i class="search icon"></i>
        Reporte Cámaras
      </a>
      <a class="item" href="{{path("_reportePuertas")}}">
        <i class="search icon"></i>
        Reporte Puertas
      </a>
      <a class="item" href="{{path("_regCamaras")}}">
        <i class="checked calendar icon"></i>
      Historial Equipos
      </a>


    </div>
  </div>
{% endblock %}
