{% extends 'base.html.twig' %}
{% block contenido %}
<div class="ui container">
	<h2 class="ui header">
		<i class="sticky note icon"></i>
		<div class="content">
			Orden de Trabajo
			<div class="sub header">Elyte</div>
		</div>
	</h2>
</div>
<div class="ui container">
{{form_start(form ,{'attr':{'class':'ui form'}})}}
<div class="fields">
	<div class="five wide field">
		<label for="">Número de Ticket</label>
		{{form_widget(form.numTicket)}}
	</div>
	<div class="five wide field">
		<label for="">Número Orden de Trabajo</label>
		{{form_widget(form.numOrdTrab)}}
	</div>
	<div class="five wide field">
		{{form_label(form.empresa)}}
		{{form_widget(form.empresa)}}
	</div>
</div>
<div class="fields">
	<div class="six wide field">
		{{form_label(form.ctSistema)}}
		{{form_widget(form.ctSistema)}}
	</div>
	<div class="six wide field">
		{{form_label(form.ctServicio)}}
		{{form_widget(form.ctServicio)}}
	</div>
</div>
<div class="fields">
	<div class="six wide field">
		{{form_label(form.camaras)}}
		{{form_widget(form.camaras)}}
	</div>
	<div class="six wide field">
		{{form_label(form.puertas)}}
		{{form_widget(form.puertas)}}
	</div>
</div>
<div class="field">
	<div class="ui blue ribbon label">Descripción (requerimiento del cliente)</div>
	<br><br>
	{{form_widget(form.descripcion)}}
</div>
<div class="field">
	<div class="ui red ribbon label">Solución Elyte</div>
	<br><br>
	{{form_widget(form.solucion)}}
</div>
<div class="field">
	<div class="ui teal ribbon label">Solución Técnica</div>
	<br><br>
	{{form_widget(form.solucionTecnica)}}
</div>
<div class="fields">
	<div class="field">
		{#{{form_label(form.fechaInicio)}}#}
		{#{{form_datewidget(form.fechaIncio)}}#}
		<label for="">Fecha Inicio Año-mes-día Hora:minutos</label>
		{{form_widget(form.fechaIni,{attr:{'placeholder':'aaaa-mm-dd hh:mm'}})}}
	</div>
	<div class="field">
		<label for="">Fecha Termino Año-mes-día Hora:minutos</label>
		{{form_widget(form.fechaFin,{attr:{'placeholder':'aaaa-mm-dd hh:mm'}})}}
	</div>
</div>
<div class="fields">
	<div class="eight wide field">
		{{form_label(form.cliente)}}
		{{form_widget(form.cliente)}}
	</div>
	<div class="eight wide field">
		{{form_label(form.tecnico)}}
		{{form_widget(form.tecnico)}}
	</div>
</div>
<button type="submmit" name="button" class="ui primary button">Enviar</button>
<div class="ui error message"></div>
{{form_end(form)}}
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$('.ui.normal.dropdown')
.dropdown({
	maxSelections: 10
})
;


$('.ui.form').form({
	fields : {
		numTicket: {
			identifier : 'bd_daobundle_ordentrabajo[numTicket]',
			rules : [
				{
					type : 'empty',
					prompt : 'Ingrese el número de ticket'
				}
			]
		},
		numOrdTrabajo: {
			identifier : 'bd_daobundle_ordentrabajo[numOrdTrab]',
			rules : [
				{
					type : 'empty',
					prompt : 'Ingrese el número de Orden de trabajo'
				}
			]
		},
		empresa : {
			identifier : 'bd_daobundle_ordentrabajo[empresa]',
			rules : [
				{
					type : 'empty',
					prompt : 'Seleccione una empresa'
				}
			]
		},
		sistema : {
			identifier : 'bd_daobundle_ordentrabajo[ctSistema]',
			rules : [
				{
					type : 'empty',
					prompt: 'Seleccione un sistema'
				}
			]
		},
		servicio : {
			identifier : 'bd_daobundle_ordentrabajo[ctServicio]',
			rules : [
				{
					type : 'empty',
					prompt : 'Seleccione el servicio'
				}
			]
		},
		descripcion : {
			identifier : 'bd_daobundle_ordentrabajo[descripcion]',
			rules : [
				{
					type : 'empty',
					prompt : 'Ingrese una descripción'
				},
				{
					type : 'minLength[10]',
					prompt : 'Ingrese un mínimo de 10 caracteres'
				}
			]
		},
		solucion : {
			identifier : 'bd_daobundle_ordentrabajo[solucion]',
			rules : [
				{
					type : 'empty',
					prompt : 'Ingrese una solución'
				},
				{
					type : 'minLength[10]',
					prompt : 'Ingrese un mínimo de 10 caracteres'
				}
			]
		},
		solucionTecnica : {
			identifier : 'bd_daobundle_ordentrabajo[solucionTecnica]',
			rules : [
				{
					type : 'empty',
					prompt : 'Ingrese una solución técnica'
				},
				{
					type : 'minLength[10]',
					prompt : 'Ingrese un mínimo de 10 caracteres'
				}
			]
		},
		fechainicio : {
			identifier : 'bd_daobundle_ordentrabajo[fechaIni]',
			rules : [
				{
					type : 'empty',
					prompt : 'Ingrese la fecha de inicio'
				}
			]
		},
		fechafin : {
			identifier : 'bd_daobundle_ordentrabajo[fechaFin]',
			rules : [
				{
					type : 'empty',
					prompt : 'Ingrese la fecha de término'
				}
			]
		},
		cliente : {
			identifier : 'bd_daobundle_ordentrabajo[cliente]',
			rules : [
				{
					type : 'empty',
					prompt : 'Seleccione un cliente'
				}
			]
		},
		tecnico : {
			identifier: 'bd_daobundle_ordentrabajo[tecnico]',
			rules : [
				{
					type : 'empty',
					prompt : 'Seleccione un técnico'
				}
			]
		}
	}
}
)
;

</script>
{% endblock %}
