{% extends 'base.html.twig' %}
{% block title %}Reportes{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{asset("css/buttons.dataTables.min.css")}}">
  <link rel="stylesheet" href="{{asset("css/responsive.semanticui.min.css")}}">
{% endblock %}

{% block contenido %}
<h2 class="ui header">
   <i class="settings icon"></i>
    <div class="content">
     Reportes
    <div class="sub header">Datos</div>
   </div>
  </h2>
  <div class="field">
  <div class="two fields">
    <div class="field">
      <div class="ui right labeled input">
        <input type="text" name="fechaIn" value="" id="fini" placeholder="YYYY-MM-DD"/>
      <div class="ui basic label"> Fecha Inicial</div>
    </div>
    </div>
    <div class="ui divider"></div>
    <div class="field">
      <div class="ui right labeled input">
        <input type="text" name="fechaOut" value="" id="ffin" placeholder="YYYY-MM-DD"/>
      <div class="ui basic label"> Fecha Final</div>
    </div>
    </div>
  </div>
  </div>
  <div class="ui divider"></div>
  {{include ('baseDataTable.html.twig',{'id':'TdataOrdenTrabajo','dtTable':dtTable})}}
{% endblock %}


{% block javascripts %}
<script type="text/javascript" src="{{asset("assetic/jquery_dataTable_js.js")}}"></script>
<script type="text/javascript" src="{{asset("assetic/dataTable_semantic_js.js")}}"></script>
<script type="text/javascript" src="{{asset("js/datatables/dataTables.buttons.min.js")}}"></script>
<script type="text/javascript" src="{{asset("js/datatables/buttons.flash.min.js")}}"></script>
<script type="text/javascript" src="{{asset("js/datatables/jszip.min.js")}}"></script>
<script type="text/javascript" src="{{asset("js/datatables/pdfmake.min.js")}}"></script>
<script type="text/javascript" src="{{asset("js/datatables/vfs_fonts.js")}}"></script>
<script type="text/javascript" src="{{asset("js/datatables/buttons.html5.min.js")}}"></script>
<script type="text/javascript" src="{{asset("js/datatables/buttons.print.min.js")}}"></script>
<script type="text/javascript" src="{{asset("js/datatables/dataTables.responsive.min.js")}}"></script>
<script type="text/javascript" src="{{asset("js/datatables/responsive.semanticui.min.js")}}"></script>
<script type="text/javascript">
var table =$('#TdataOrdenTrabajo').DataTable({
   dom: 'Blfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "columnDefs": [
       ],
  responsive: {
            details: {
                display: $.fn.dataTable.Responsive.display.modal( {
                    header: function ( row ) {
                         var data = row.data();
                         return 'Detalles para  '+data[0]+' '+data[3];
                    }
                } ),
                renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                    tableClass: 'ui table'
                } )
            }
        }
});
<<<<<<< HEAD
=======

>>>>>>> bbc42070356be5cf4735d56ff5de551ce861d4b4
$.fn.dataTableExt.afnFiltering.push(
    function( oSettings, aData, iDataIndex ) {
        var iFini = $('#fini').val();
        var iFfin = $('#ffin').val();
         var iStartDateCol = 6;
         var iEndDateCol = 7;
         //console.log('fini:'+iFini);
         //console.log('ffin:'+iFfin);
        //01-01-2017
         iFini=iFini.substring(0,4) + iFini.substring(5,7)+ iFini.substring(8,10);
         console.log('format:'+iFini);
         //console.log('t'+iFini.length)
         if (iFini.length==8){
           var fin = new Date(iFini.substring(0,4), iFini.substring(5,7), iFini.substring(8,10));
           console.log('fecha:'+fin.getTime());
         }
<<<<<<< HEAD
=======

>>>>>>> bbc42070356be5cf4735d56ff5de551ce861d4b4
         iFfin=iFfin.substring(0,4) + iFfin.substring(5,7)+ iFfin.substring(8,10);
         //console.log('formta2'+iFfin);
         if (iFfin.length==8){
           var fout = new Date(iFfin.substring(0,4), iFfin.substring(5,7), iFfin.substring(8,10));
           console.log('fecha:'+fout.getTime());
         }
        //
         var datofini=aData[iStartDateCol].substring(0,4) + aData[iStartDateCol].substring(5,7)+ aData[iStartDateCol].substring(8,10);
         var datoffin=aData[iEndDateCol].substring(0,4) + aData[iEndDateCol].substring(5,7)+ aData[iEndDateCol].substring(8,10);
        //
<<<<<<< HEAD
=======



>>>>>>> bbc42070356be5cf4735d56ff5de551ce861d4b4
         if ( iFini === "" && iFfin === "" )
         {
             return true;
         }
         else if ( iFini <= datofini && iFfin === "")
         {
             return true;
         }
         else if ( iFfin >= datoffin && iFini === "")
         {
             return true;
         }
         else if (iFini <= datofini && iFfin >= datoffin)
         {
             return true;
         }
        return false;
    }
);
<<<<<<< HEAD
// Add event listeners to the two range filtering inputs
     $('#fini').keyup( function() { table.draw(); } );
     $('#ffin').keyup( function() { table.draw(); } );
=======

// Add event listeners to the two range filtering inputs
     $('#fini').keyup( function() { table.draw(); } );
     $('#ffin').keyup( function() { table.draw(); } );

>>>>>>> bbc42070356be5cf4735d56ff5de551ce861d4b4
    // Setup - add a text input to each footer cell
    // $('#TdataOrdenTrabajo thead th').each( function () {
    //     var title = $(this).text();
    //     $(this).html( '<input type="text" placeholder="'+title+'" />' );
    // } );
<<<<<<< HEAD
=======

>>>>>>> bbc42070356be5cf4735d56ff5de551ce861d4b4
    // Apply the search
        // table.columns().every( function () {
        //     var that = this;
        //
        //     $( 'input', this.head() ).on( 'keyup change', function () {
        //         if ( that.search() !== this.value ) {
        //             that
        //                 .search( this.value )
        //                 .draw();
        //         }
        //     } );
        // } );
</script>
{% endblock %}
